/**** HEADER ****/
#welcome-section {
    background: #202736;
    background-attachment: fixed;
    background-size: cover;
    background: url(../../Images/trees.jpg) bottom left repeat-x;
    /* background: linear-gradient(to bottom, #181d23 0%, #202736 80%); */
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    z-index: 1;
}

#welcome-section::before {
    content: '';
    position: fixed;
    background: url(../../Images/Stars.svg);
    background-attachment: fixed;
    width: 100%;
    z-index: 1;
    min-height: 100vh;
    opacity: 0;
    animation: stars-move-in 1000ms 300ms forwards;
}

@keyframes stars-move-in {
    from {
        background-position-y: -90px;
    }
    to {
        opacity: 1;
        background-position-y: 0;
    }
}

.forest {
    position: absolute;
    background-size: cover;
}